WZERP_E_BUSINESS/Web References/SI_WZERP_PURCHASE_AMOUNT/SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="urn:sinopec:wzerp:ec5:purchase:control:integration" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="urn:sinopec:ec5:wzerp:purchase:control:integration" name="SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT" targetNamespace="urn:sinopec:ec5:wzerp:purchase:control:integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sinopec:wzerp:ec5:purchase:control:integration" targetNamespace="urn:sinopec:wzerp:ec5:purchase:control:integration" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="PURCHASERESULT" type="p2:DT_WZERP_EC5_PURCHASE_AMOUNT_RESP" />
      <xsd:complexType name="DT_WZERP_EC5_PURCHASE_AMOUNT_RESP">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">EC反馈采购总额处理结果到物装ERP数据结构定义</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MSGID" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>消息号</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="STRSYSNUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>系统号+Client号 如:P33900</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PURCHASEREQUESTS">
            <xsd:annotation>
              <xsd:documentation>采购总额</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="STRMONTH" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>年月格式：YYYYMM</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="STANDCODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>企业编码（国事公司MDM8位码，总部业务处室使用部门编码，部门编码对照在ERP端）</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="RESULT" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>处理结果</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="RESDESC" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>描述</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.PURCHASERESULT">
    <wsdl:documentation />
    <wsdl:part name="PURCHASERESULT" element="p2:PURCHASERESULT" />
  </wsdl:message>
  <wsdl:portType name="SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:p2.PURCHASERESULT" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_EC5_PURCHASE_AMOUNT_RESP_A_OUTBinding" type="p1:SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_EC5_PURCHASE_AMOUNT_RESP_A_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_EC5_PURCHASE_AMOUNT_RESP_A_OUTBinding">
      <address location="http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Apurchase%3Acontrol%3Aintegration" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_EC5_PURCHASE_AMOUNT_RESP_A_OUTBinding">
      <address location="https://hqxt1.sinopec.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_EC5_PURCHASE_AMOUNT_RESP_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Awzerp%3Apurchase%3Acontrol%3Aintegration" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>