WZERP_E_BUSINESS/Web References/SI_WZERP_ZQ_IF004/SI_WZERP_ZQ_IF004_A_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:sinopec:ec5:zq:agreement" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_WZERP_ZQ_IF004_A_OUT" targetNamespace="urn:sinopec:ec5:zq:agreement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_WZERP_ZQ_IF004_A_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sinopec:ec5:zq:agreement" targetNamespace="urn:sinopec:ec5:zq:agreement" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_EC5_ZQ_IF004_REQ" type="p1:DT_EC5_ZQ_IF004_REQ" />
      <xsd:complexType name="DT_EC5_ZQ_IF004_REQ">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">EC发送变更ZQ框架协议信息请求数据定义</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">345276b45d4111e68e550000003c6a36</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="AGREEMENTWZERPCHG">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bc991108cc4b11e3c2c000215d90d210</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="MSGID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c08cc4c11e3a0e800215d90d210</xsd:appinfo>
                    <xsd:documentation>消息唯一标识</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="STRN" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c09cc4c11e38d7300215d90d210</xsd:appinfo>
                    <xsd:documentation>系统标识</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="SENDTIME" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c0acc4c11e386e900215d90d210</xsd:appinfo>
                    <xsd:documentation>发送时间</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="STARTDATE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c0bcc4c11e3b8e500215d90d210</xsd:appinfo>
                    <xsd:documentation>有效起始日期</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ENDDATE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c0ccc4c11e3c15600215d90d210</xsd:appinfo>
                    <xsd:documentation>有效截至日期</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="TARGETVALUE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c0dcc4c11e39e4800215d90d210</xsd:appinfo>
                    <xsd:documentation>目标计划值</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="STOCKTYPE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c0ecc4c11e3800900215d90d210</xsd:appinfo>
                    <xsd:documentation>采购方式</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ATTRTYPE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c0fcc4c11e3aab700215d90d210</xsd:appinfo>
                    <xsd:documentation>采购类型(1:直采，2:组采，3:自采)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="AGRCODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c10cc4c11e3b40200215d90d210</xsd:appinfo>
                    <xsd:documentation>EC物资框架协议编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="OPERATETYPE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7a282db8f84811e395db00215d90d210</xsd:appinfo>
                    <xsd:documentation>操作类型(1:创建变更申请2:修改变更申请)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="SAPAGRCODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c11cc4c11e386a900215d90d210</xsd:appinfo>
                    <xsd:documentation>SAP框架协议编号(变更申请创建和修改时传输)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MODIFYCODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c15cc4c11e3ad7f00215d90d210</xsd:appinfo>
                    <xsd:documentation>变更申请编码(变更申请修改时传输)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="XGYY" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c16cc4c11e3acc000215d90d210</xsd:appinfo>
                    <xsd:documentation>修改原因</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="BGNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b0045c18cc4c11e3cbb900215d90d210</xsd:appinfo>
                    <xsd:documentation>变更内容</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL1" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">14a26ebf594b11e6a125626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留1</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL2" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">14a26ec0594b11e6845e626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留2</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL3" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">14a26ec1594b11e69643626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留3</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL4" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">14a26ec2594b11e6ad4b626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留4</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL5" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">14a26ec3594b11e6859a626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留5</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AGREEMENTWZERPCHGFILE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8dba698dcc4d11e3cb6400215d90d210</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="AGRCODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f6a442d2cc4d11e3aa8700215d90d210</xsd:appinfo>
                    <xsd:documentation>EC物资框架协议编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ITEMNO" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f6a442d3cc4d11e3b36000215d90d210</xsd:appinfo>
                    <xsd:documentation>序号(1、2、3...)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="FILECODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ec91f6175d4311e6920e626c668312b0</xsd:appinfo>
                    <xsd:documentation>文件ID</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="FILENAME" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e7b4775af84611e3a6c600215d90d210</xsd:appinfo>
                    <xsd:documentation>文件名</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="FILETYPE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e7b4775bf84611e3c92400215d90d210</xsd:appinfo>
                    <xsd:documentation>附件类型(正文或附件)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="FILEURL" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fdf0c9cf07911e3abf600215d90d210</xsd:appinfo>
                    <xsd:documentation>文件访问路径</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL1" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3fdf0c9df07911e3aa2900215d90d210</xsd:appinfo>
                    <xsd:documentation>预留1</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AGREEMENTWZERPCHGPRODUCTS">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">63a08df8594b11e68bda626c668312b0</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="AGRCODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08deb594b11e6b1f3626c668312b0</xsd:appinfo>
                    <xsd:documentation>EC物资框架协议编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ITEMNO" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08dec594b11e693c0626c668312b0</xsd:appinfo>
                    <xsd:documentation>框架协议的项目编号(5位,以10为间隔,00010、00020)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PRODNAME" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08ded594b11e69239626c668312b0</xsd:appinfo>
                    <xsd:documentation>短文本</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PRODCLASS" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08dee594b11e6b48b626c668312b0</xsd:appinfo>
                    <xsd:documentation>物料组</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="QUANTITY" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08def594b11e6cb29626c668312b0</xsd:appinfo>
                    <xsd:documentation>目标数量</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="UNIT" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df0594b11e6b857626c668312b0</xsd:appinfo>
                    <xsd:documentation>基本计量单位</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PRICE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df1594b11e6a36d626c668312b0</xsd:appinfo>
                    <xsd:documentation>净价</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="TAXCODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df2594b11e69253626c668312b0</xsd:appinfo>
                    <xsd:documentation>销售税代码(ec根据ERP对照表转换后传输给ERP，对照不上的置空)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL1" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df3594b11e68964626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留1</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL2" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df4594b11e6b672626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留2</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL3" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df5594b11e6953c626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留3</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL4" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df6594b11e6aba8626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留4</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="YL5" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">63a08df7594b11e6b9aa626c668312b0</xsd:appinfo>
                    <xsd:documentation>预留5</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_EC5_ZQ_IF004_REQ">
    <wsdl:documentation />
    <wsdl:part name="MT_EC5_ZQ_IF004_REQ" element="p1:MT_EC5_ZQ_IF004_REQ" />
  </wsdl:message>
  <wsdl:portType name="SI_WZERP_ZQ_IF004_A_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_WZERP_ZQ_IF004_A_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_WZERP_ZQ_IF004_A_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_EC5_ZQ_IF004_REQ" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_WZERP_ZQ_IF004_A_OUTBinding" type="p1:SI_WZERP_ZQ_IF004_A_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_WZERP_ZQ_IF004_A_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_WZERP_ZQ_IF004_A_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_WZERP_ZQ_IF004_A_OUTBinding">
      <address location="http://hqxt1.sinopec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF004_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_WZERP_ZQ_IF004_A_OUTBinding">
      <address location="https://hqxt1.sinopec.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_EC5_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_WZERP_ZQ_IF004_A_OUT&amp;interfaceNamespace=urn%3Asinopec%3Aec5%3Azq%3Aagreement" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>